@charset "UTF-8";

#btnChecked #btnmod {
    font-size: 14px;
    color: #fff;
    background-color: #e75e8d;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
}

.mypage-section h4 {
    color: #ec6090;
    font-size: 34px;
    text-decoration: none;
    margin-bottom: 30px;
}
.label {
	font-size:20px;
	color:white;
}

.align-self-center {
	margin-left: 140px
}

#userid, #userpw, #userpw2, #name {
	padding-left:20px;
}
#btnregister {
	color:white;
}

.profile .profile-image {
	max-width: 80px;
    border-radius: 23px;
    float: left;
    width: 135px;
    height: 135px
}

.test-div se p {
	color : #fff;
}
